@import "../../../../styles/variables"; // 引入變數
@import "../../../../styles/mixins"; // 引入 mixins
.sectionBlock {
  margin: 3rem 0;
}
.sectionBlock:last-child {
  margin-bottom: 7rem; // 最後一個區塊不需要底部間距
}

.aacsbContainer {
  .contentSection {
    h2 {
      font-size: 24px;
      font-weight: 700;
      color: $color-uic; // 使用色彩強調標題
      margin-bottom: $spacing-xs;
      text-align: left;
    }

    p {
      font-size: 18px;
      text-align: left;
    }
    p:nth-child(1) {
      margin-top: 4rem;
    }

    ul {
      list-style: disc;
      list-style-position: inside;
      font-size: 18px;
      margin-bottom: $spacing-xs;

      li {
        margin-bottom: $spacing-xs;
        text-align: left;
      }
    }
  }
}

.aacsb-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .aacsb-logo {
    @media screen and (max-width: 700px) {
      width: 50%;
    }
  }

  .aacsb-title {
    text-align: left;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0.5rem;
      color: $color-black;
      font-weight: 700;
    }
    p {
      font-size: 24px;
    }
  }
}
