@import "../../../../styles/variables"; // 引入變數
@import "../../../../styles/mixins"; // 引入混和

.heedContainer {
  margin-bottom: $spacing-md;
  .contentSection {
    h2 {
      font-size: 24px;
      color: $color-uic; // 使用顏色強調標題
      margin-top: $spacing-lg;
      margin-bottom: $spacing-xs;
      font-weight: 700;
      text-align: left;
    }

    p {
      font-size: 18px;
      margin: $spacing-sm 0 $spacing-xs;
      text-align: left;
    }

    ul {
      list-style: disc;
      list-style-position: inside;
      margin-bottom: $spacing-md;

      li {
        font-size: 18px;
        margin-bottom: $spacing-xs;
        text-align: left;
      }
    }
  }
}

@media (max-width: 1024px) {
  :global(.image-text-section .image-content img) {
    position: relative;
    top: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .heedContainer {
    .contentSection {
      p {
        margin: 0 auto;
      }
    }
  }
}
