@import "../../../../styles/variables";

.rankingContainer {
  margin: 0 auto $spacing-lg;

  .introSection {
    margin: $spacing-md 0;
    text-align: left;
    width: 100%;
    p {
      font-size: 18px;
    }
  }

  .rankingsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-xs;

    .rankingItem {
      padding: $spacing-sm 0;
      border-radius: 10px;
      .rank {
        font-weight: 900;
        color: $color-uic;
        display: flex; // Added for alignment
        align-items: baseline; // Align prefix and number
        justify-content: flex-start; // Center the rank block

        .rankPrefix {
          font-size: 32px; // Set font size for "TOP"
          margin-right: 15px; // Add some space between TOP and number
        }

        .rankNumber {
          font-size: 40px; // Set font size for the number
        }
      }

      .description {
        font-size: $font-size-md;

        display: flex;
        align-items: center;
        text-align: left;
      }

      .source {
        font-size: 18px;
        color: $color-black;
        text-align: left;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .rankingContainer {
    .rankingsGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 500px) {
  .rankingContainer {
    .rankingsGrid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
