@import "../../../../styles/variables"; // 引入變數

.rankingContainer {
  margin: 0 auto;
  text-align: center; // 整體居中

  .introSection {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-xl;
    text-align: center;
    width: 100%;
    p {
      font-size: $font-size-lg;
      line-height: 1.8;
      margin: 0 auto; // 居中段落
    }
  }

  .rankingsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 響應式網格
    padding: $spacing-lg; // 網格內邊距
    gap: $spacing-xl; // 網格間距

    .rankingItem {
      padding: $spacing-lg;
      border-radius: 10px;

      text-align: center;

      margin-bottom: $spacing-sm;

      .rank {
        font-weight: 900;
        color: #c71432; // 強調排名數字
        margin-bottom: $spacing-sm;
        display: flex; // Added for alignment
        align-items: baseline; // Align prefix and number
        justify-content: center; // Center the rank block

        .rankPrefix {
          font-size: 32px; // Set font size for "TOP"
          margin-right: 15px; // Add some space between TOP and number
        }

        .rankNumber {
          font-size: 40px; // Set font size for the number
        }
      }

      .description {
        font-size: $font-size-md;
        font-weight: 700;
        margin-bottom: $spacing-xs;
        min-height: 50px; // 確保描述有最小高度，對齊
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .source {
        font-size: $font-size-sm;
        color: $color-text-secondary;
        line-height: 1.4;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .rankingContainer {
    .rankingsGrid {
      grid-template-columns: repeat(3, 1fr); // 手機響應式網格
    }
  }
}
@media screen and (max-width: 500px) {
  .rankingContainer {
    .rankingsGrid {
      grid-template-columns: repeat(1, 1fr); // 手機響應式網格
    }
  }
}
