@import "../../../../styles/variables";

// === RankingPage highlight block styles ===
.rankingHighlightBlock {
  border-bottom: 1px solid #c71432;
}

.rankingHighlightRow {
  display: flex;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.rankingHighlightRowSpacing {
  margin-top: 32px;
  margin-bottom: 48px;
}

.rankingHighlightTitle {
  font-size: 40px;
  color: #c71432;
  @media screen and (max-width: 500px) {
    text-align: left;
  }
}

.rankingHighlightNumber {
  font-size: 48px;
}

.rankingHighlightTextGroup {
  display: flex;
  margin-left: 20px;
  font-size: 22px;
  align-items: center;
  @media screen and (max-width: 500px) {
    margin-left: 0;
    align-items: flex-start;
  }
}

.rankingHighlightText {
  font-size: 26px;
  font-weight: 600;
  color: #c71432;
  margin: 0 8px 0 0;
  text-align: left;
}

.rankingContainer {
  margin: 0 auto $spacing-lg;

  .introSection {
    text-align: left;
    width: 100%;
    p {
      font-size: 18px;
      margin-top: 4rem;
      margin-bottom: $spacing-xl;
    }
  }

  .rankingsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-md $spacing-xxl;
    margin-top: $spacing-xl;
    margin-bottom: 7rem;

    .rankingItem {
      padding: $spacing-sm 0;
      border-radius: 10px;
      .rank {
        font-weight: 900;
        color: $color-uic;
        display: flex; // Added for alignment
        align-items: baseline; // Align prefix and number
        justify-content: flex-start; // Center the rank block

        .rankPrefix {
          font-size: 32px; // Set font size for "TOP"
          margin-right: 15px; // Add some space between TOP and number
        }

        .rankNumber {
          font-size: 40px; // Set font size for the number
        }
      }

      .description {
        font-size: $font-size-lg;
        display: flex;
        align-items: center;
        text-align: left;
      }

      .source {
        font-size: 18px;
        color: $color-black;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .rankingContainer {
    .rankingsGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 500px) {
  .rankingContainer {
    .rankingsGrid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
