@import "../../../styles/variables";
@import "../../../styles/mixins";

// 全域橫向捲軸隱藏
body,
html {
  overflow-x: hidden;
}
.intro-title {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $color-nav;
  margin-bottom: $spacing-sm;
}
.career-list-item {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  line-height: 40px;
}
.career-resources-intro-list {
  font-size: $font-size-md;
  margin-top: $spacing-xs;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}
.career-resources {
  overflow-x: hidden;
  h3 {
    font-size: $font-size-xl;
    margin-bottom: $spacing-sm;
    color: $color-uic;
    text-align: left;
  }

  .intro {
    position: relative;
    text-align: left;
    margin-top: 4rem;

    p {
      font-size: $font-size-md;
      color: $color-text-primary;
    }

    .career-resources-list {
      list-style: disc;
      padding-left: $spacing-md;
      li {
        font-size: $font-size-md;
        margin-top: $spacing-md;
        color: $color-nav;
        div {
          font-size: $font-size-md;
          color: $color-black;
        }
      }
    }

    img {
      position: absolute;
      width: 30%;
      height: auto;
      max-width: 100%; // 保持圖片不超出
      margin-left: 65vw; // 右側對齊
      margin-top: -15rem;
      margin-bottom: 10rem;
    }
  }

  .career-process {
    display: flex;
    margin-top: -3rem;

    .container {
      text-align: left;

      .career-process-list {
        padding-left: $spacing-md;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
        li {
          font-size: $font-size-md;
          list-style-type: decimal;
          color: $color-black;
        }
      }

      img {
        width: 100%;
        margin: 0 auto; // 置中
        margin-bottom: $spacing-xl; // 下方間距
      }
    }
  }
}
