@import "../../../styles/variables";

.chicago-container {
  .chicago-intro {
    margin: $spacing-md 0;
    .intro-title {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $color-nav;
      text-align: left;
      margin-bottom: $spacing-sm;
    }
    .intro-text {
      font-size: $font-size-lg;
      color: $color-black;
      text-align: left;
    }
  }

  .section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: $spacing-md;
    h2 {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $color-black;
    }
  }

  .history-section,
  .transport-section {
    margin: 0 auto;

    .section-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: $spacing-lg;

      .history-text,
      .transport-text {
        text-align: left;
        p {
          font-size: $font-size-lg;
          color: $color-black;
          text-align: left;
        }
      }
    }
  }

  .history-section {
    position: relative;
    padding-bottom: $spacing-sm;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      border-bottom: 1px solid $color-uic;
      margin: 0 auto;
    }
  }
}
