@import "../../../styles/variables";
@import "../../../styles/mixins";

.rankings-awards-container {
  .content-section {
    margin: 1.5rem 10rem;
    @media screen and (max-width: 1024px) {
      margin: 1rem 5rem;
    }
    @media screen and (max-width: 500px) {
      margin: 1rem 2rem;
    }
  }

  .uic-rankings-section {
    .rankings-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .rankings-logo {
        max-width: 300px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .rankings-title {
        h2 {
          font-size: 24px;
          font-weight: 700;
          color: $color-black;
        }
      }
    }
    .rankings-intro {
      font-size: 18px;
      color: $color-black;
      text-align: left;
    }

    .rankings-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media screen and (max-width: 850px) {
        gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
      }

      .ranking-item {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .rank-header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;

          .top-label {
            font-size: 32px;
            font-weight: 600;
            color: $color-uic;
            margin: 0;
            padding: 0;
            margin-right: 10px;
          }

          .rank-number {
            font-weight: 700;
            font-size: 48px;
            color: $color-uic;
          }
        }
        .rank-description,
        .rank-sub-description {
          font-size: 18px;
          color: $color-black;
          text-align: left;
        }
      }
    }
  }
}

// 響應式設計
.content-section {
  margin: $spacing-xl auto;
  .intro-title {
    font-size: 24px;
    font-weight: 700;
    color: $color-nav;
    text-align: left;
    margin-bottom: $spacing-xs;
  }

  .intro-text {
    font-size: 18px;
    margin-bottom: $spacing-xs;
    text-align: left;
  }

  // AACSB 認證相關
  .aacsb-section {
    margin: 0 auto;
    border-bottom: 1px solid $color-uic;

    .aacsb-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .aacsb-logo {
        @media screen and (max-width: 700px) {
          width: 50%;
        }
      }

      .aacsb-title {
        text-align: left;
        display: flex;
        flex-direction: column;
        h2 {
          margin-bottom: 0.5rem;
          color: $color-black;
          font-weight: 700;
        }
        p {
          font-size: 24px;
        }
      }
    }

    .aacsb-description {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 2rem;
      text-align: left;
      margin-bottom: $spacing-md;
    }
    .standard-title,
    .international-title {
      color: $color-black;
      margin: 2rem 0 1rem;
    }

    .standard-categories {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1.5rem 0;

      .standard-item {
        flex: 0 0 30%;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &.title-item {
          display: flex;
          align-items: flex-start;
          margin-bottom: 0.5rem;
          .item-text {
            font-size: 24px;
            text-align: left;
          }
        }
      }
    }

    .international-standards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 1.5rem $spacing-xxl;

      .international-item {
        flex: 0 0 80%;
        margin-bottom: $spacing-lg;
      }
    }

    .advantage-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: $spacing-sm;

      .advantage-item {
        flex: 0 0 45%;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &.title-item {
          margin-bottom: 0.5rem;
          display: flex;
          align-items: flex-start;
          .item-text {
            font-size: 24px;
            font-weight: 500;
          }
        }
      }
    }
  }

  // 多元化與卓越表現
  .diversity-excellence-section {
    .diversity-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: $spacing-xs;

      .diversity-title {
        text-align: left;
        h2 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 0.5rem;
          color: $color-black;
        }
        p {
          font-size: 24px;
          font-weight: 500;
        }
      }
    }

    .diversity-description {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
    }

    .diversity-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: $spacing-sm;

      .diversity-item {
        width: 80%;
        margin-bottom: 2rem;

        &.title-item {
          flex: 0 0 100%;
          margin-bottom: 2rem;
          .item-text {
            @include paragraph-style;
          }
        }
      }
    }
  }
}
.advantage-list {
  margin-bottom: $spacing-xs;
}

.advantage-list,
.standard-list {
  list-style-position: inside; // 讓項目符號在文字內部
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 0;
  justify-items: start;
  li {
    color: $color-uic;
    font-size: 18px;
    text-align: left;
    padding-left: 1.4em; // 為文字內容創建左內邊距
    text-indent: -1.4em; // 將第一行（含項目符號）向左縮排
  }
}

.diversity-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  margin: 0.5rem 0;
  list-style-position: inside;
  li {
    font-size: 18px;
    padding-left: 1.4em; // 為文字內容創建左內邊距
    text-indent: -1.4em; // 將第一行（含項目符號）向左縮排
  }
}
.diversity-excellence-section {
  border-bottom: 1px solid $color-uic;
}
.uic-rankings-section {
  margin-top: $spacing-xs;
  margin-bottom: $spacing-lg;
}

@media screen and (max-width: 700px) {
  .content-section .aacsb-section .aacsb-header {
    display: flex;
    flex-direction: row;
    margin: $spacing-xs 0;
  }
  .standard-list,
  .advantage-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1.4rem;
    li {
      padding-left: 0;
    }
  }

  .content-section .diversity-excellence-section .diversity-header {
    gap: 1rem;
    margin: $spacing-xs 0;
    .diversity-logo {
      width: 100%;
    }
    .diversity-title {
      h2 {
        font-size: $font-size-xl;
      }
      p {
        font-size: $font-size-xl;
      }
    }
  }

  .rankings-awards-container .uic-rankings-section {
    .rankings-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .standard-list {
    list-style-position: inside;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    li {
      position: relative;
    }
  }
}
