@import "../../styles/variables";
@import "../../styles/mixins";

.blog-section {
  margin-top: $spacing-xxl;
}
.blog-detail-title {
  margin-bottom: $spacing-lg;
}
@media screen and (max-width: 700px) {
  .blog-section {
    margin-top: $spacing-xxl;
    margin-left: 0;
    padding-left: $spacing-xs;
    padding-right: $spacing-xs;
  }
}
