@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "./mba-common";

.mba-advantages {
  // 全域段落與列表樣式
  p,
  li {
    font-size: 18px;
    font-weight: 500;
    max-width: 100%;
    text-align: left;
  }

  // 標題樣式
  h3 {
    @extend .mba-heading-large;
  }

  .intro {
    padding: $spacing-lg 0;
    margin-bottom: $spacing-md; // 上方區塊與下方區塊間距

    p {
      max-width: 100%;
      font-weight: 500;
    }
  }

  .learn .container {
    h3 {
      margin-bottom: $spacing-sm;
      color: $color-nav;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }

    p {
      margin-bottom: $spacing-sm;
      font-weight: 500;
    }

    ul {
      @extend .mba-list;
    }

    .experience-list {
      list-style: none;
      padding: 0;
      margin: 0 0 2rem 0;

      li {
        margin-bottom: 0;
        strong {
          display: block;
          font-size: 24px;
          font-weight: 700;
          color: $color-uic;
        }
        div {
          font-weight: 500;
          font-size: 18px;
          color: $color-black;
        }
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      margin: $spacing-md 0;
    }
  }

  .case-study,
  .networking,
  .speech-skills {
    .container {
      h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: $spacing-xs;
        color: $color-nav;
        text-align: left;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: $spacing-md;
      }
    }
  }
}
