@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "./mba-common";

.mba-advantages {
  // 全域段落與列表樣式
  p,
  li {
    font-size: 18px;
    max-width: 100%;
    text-align: left;
  }

  .intro {
    padding: $spacing-sm 0 0;
    .intro-title {
      font-size: 24px;
      font-weight: 700;
      color: $color-nav;
      margin-bottom: $spacing-xs;
      text-align: left;
    }
  }

  .learn .container {
    margin-bottom: $spacing-xxl;
    h3 {
      margin-bottom: $spacing-xs;
      color: $color-nav;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
      border-bottom: 1px solid $color-uic;
    }

    p {
      margin: $spacing-sm 0;
    }

    ul {
      @extend .mba-list;
    }

    .experience-list {
      list-style: none;
      padding: 0;
      margin: 0 0 2rem 0;

      li {
        margin-bottom: 0;
        strong {
          display: block;
          font-size: 24px;
          font-weight: 700;
          color: $color-uic;
        }
        div {
          font-weight: 400;
          font-size: 18px;
          color: $color-black;
        }
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      margin: $spacing-md 0 $spacing-xl;
      text-align: left;
    }
  }

  .case-study,
  .networking,
  .speech-skills {
    .container {
      h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: $spacing-xs;
        color: $color-nav;
        text-align: left;
        border-bottom: 1px solid $color-uic;
      }

      p {
        font-size: 18px;
        margin: $spacing-sm 0;
      }
    }
  }
  .speech-skills {
    margin-bottom: 7rem;
  }
}
