@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "./mba-common";

.mba-courses-page {
  .intro {
    font-size: 18px;
    font-weight: 500;
    margin: $spacing-md 0;
  }

  .courses-content {
    margin-top: $spacing-xl;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    .course {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      margin-bottom: $spacing-md;

      // 課程標題區塊
      .course-title {
        min-width: 350px;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        color: $color-uic;
        h4 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 0.5rem;
          text-align: left;
        }
        h3 {
          font-size: 18px;
          font-weight: 700;
        }
      }

      // 課程描述區塊
      .course-desc {
        flex: 1;
        p {
          font-size: 18px;
          color: $color-black;
          font-weight: 500;
          text-align: left;
        }
      }
    }
  }
  .courses-class {
    .course {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: $spacing-md;
      width: 100%; // 保持寬度最大化
      border-top: 1px solid $color-nav;
      h3 {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        margin-top: $spacing-sm;
        margin-bottom: $spacing-sm;
        color: $color-uic;
      }
      ul {
        padding-left: 1rem;
        li {
          font-size: 18px;
          font-weight: 500;
          color: $color-black;
          text-align: left;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .courses-content {
    .course {
      flex-direction: column;
      align-items: stretch;
      gap: 2rem;

      .course-title {
        min-width: unset;
        max-width: unset;
        width: 100%;
        text-align: left;
        align-items: flex-start;
      }
      .course-desc {
        width: 100%;
      }
    }
  }
}
@media (max-width: 500px) {
  .mba-courses-page .courses-content {
    margin-top: $spacing-sm;
  }
  .career-resources .intro .career-resources-list {
    margin-left: 0;
  }
  .mba-courses-page .intro {
    padding: 0 $spacing-md;
    margin: $spacing-xs 0;
  }

  .mba-courses-page .courses-content .course {
    flex-direction: column;
    gap: 1rem;
  }
}
