@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "./mba-common";

.mba-advantages {
  .intro-title {
    margin-bottom: $spacing-sm;
  }
  .avantages,
  .application {
    margin: $spacing-md 0;
    ul {
      text-align: left;
      list-style-position: inside;
      padding-left: 0;
      li {
        color: $color-uic;
        font-size: 18px;
        margin-top: $spacing-xs;
      }
    }
  }
  @media screen and (max-width: 850px) {
    ul {
      padding: 0 $spacing-lg;
    }
  }
  @media screen and (max-width: 500px) {
    ul {
      padding: 0 $spacing-lg;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $spacing-md;
    font-weight: 500;
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-nav;
    }
    p {
      font-size: 18px;
      text-align: left;
    }
  }
}
