@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "./mba-common";

.mba-advantages {
  .intro-title {
    margin-bottom: $spacing-sm;
  }
  .avantages,
  .application {
    margin: $spacing-md 0 $spacing-lg;
    ul {
      text-align: left;
      list-style-position: inside;
      padding-left: 0;
      li {
        color: $color-uic;
        font-size: $font-size-md;
        margin-top: $spacing-xs;
      }
    }
  }
  @media screen and (max-width: 850px) {
    ul {
      padding-left: 0;
      li {
        padding-left: 1.5rem;
        text-indent: -1.5rem; // 移除縮排
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $spacing-md;
    h3 {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $color-nav;
    }
    p {
      font-size: $font-size-md;
      text-align: left;
    }
  }
}
