@import "../../../styles/variables";
@import "../../../styles/mixins";

.mba-heading-large {
  @include heading-large;
}

.mba-paragraph {
  @include paragraph-style;
  text-align: left;
}

// 應用列表樣式
.mba-list {
  margin-left: 1rem;
  li {
    @include paragraph-style;
    text-align: left;
    margin-bottom: $spacing-lg;
  }
}
