@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.attractions-section {
  border-bottom: 1px solid $color-msu;
  margin-bottom: $spacing-md;

  &:last-child {
    border-bottom: none;
  }
}

.attractions-title {
  text-align: left;
  color: $color-msu;
  font-size: 24px;
  font-weight: 700;
  margin: $spacing-md 0;
}

.attractions-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  gap: $spacing-md;
  margin-bottom: $spacing-lg;
}
// 平板瀏覽調整為兩欄
@media (max-width: 1024px) {
  .attractions-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

// 手機瀏覽調整為一欄
@media (max-width: 700px) {
  .attractions-list {
    grid-template-columns: 1fr;
  }
}
