@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.attractions-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px 0 0 0;
  border-bottom: 1px solid $color-footer;
}

.attractions-title {
  text-align: center;
  color: $color-footer;
  font-size: $font-size-lg;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 32px;
}

.attractions-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 40px;
  margin-left: 23rem;
  margin-right: 8rem;
  margin-bottom: $spacing-xxl;
}
// 平板瀏覽時調整為兩欄
@media (max-width: 1024px) {
  .attractions-list {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

// 手機瀏覽時調整為一欄
@media (max-width: 700px) {
  .attractions-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .attractions-list {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .attractions-list {
    margin-left: 2rem;
  }
}
