@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.msf-hero {
  background-color: #19453c;
  // 其他自訂樣式
}

.transportation-section {
  color: $color-black;
  margin: 4rem 0 7rem;
}

.transportation-block {
  margin: $spacing-xl 0;
}

.transportation-title {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: $spacing-xs;
  color: $color-msu;
}

.transportation-subblock {
  text-align: left;
  margin-bottom: $spacing-xs;
  strong {
    font-weight: 700;
    font-size: 18px;
    color: $color-black;
  }
  ul {
    list-style: disc;
    display: flex; // 列表橫向排列
    flex-wrap: wrap; // 自動換行
    justify-content: flex-start; // 平均分配空間
    gap: $spacing-lg; // li 之間間距
    text-align: left;
    margin-top: $spacing-xs;
    list-style-position: inside;

    li {
      color: $color-msu;
      font-size: 18px;
      text-align: left;
    }
    @media screen and (max-width: 500px) {
      gap: $spacing-xs; // 小螢幕間距調整
      flex-direction: column; // 小螢幕改為縱向排列
      align-items: flex-start; // 置中
    }
  }
}

.transportation-divider {
  border: none;
  border-top: 1px solid $color-msu;
  margin: $spacing-md 0;
  width: 100%;
}
