@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.transportation-section {
  margin: $spacing-xl auto;
  padding: 1rem;
  color: $color-text-secondary;
}

.transportation-block {
  margin-bottom: $spacing-lg;
}

.transportation-title {
  text-align: center;
  font-size: $font-size-xl;
  font-weight: 700;
  margin-bottom: $spacing-md;
  color: #19453c;
}

.transportation-subblock {
  margin-bottom: $spacing-sm;
  strong {
    display: block;
    font-weight: 900;
    font-size: $font-size-md;
    margin-bottom: $spacing-xl;
    color: $color-text-secondary;
  }
  ul {
    margin: $spacing-md 0 0 $spacing-md;
    padding: 0;
    list-style: disc;
    display: flex; // 水平排列
    flex-wrap: wrap; // 換行
    justify-content: space-evenly; // 兩端對齊
    gap: $spacing-lg; // li 之間的間距加大
    text-align: left;
    li {
      color: #19453c;
      font-size: $font-size-lg;
      font-weight: 700;
      margin-bottom: $spacing-xl;
      text-align: left;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column; // 手機響應式，改為垂直排列
      align-items: center; // 中心對齊
      li {
        text-align: center; // 手機上居中對齊
        margin-bottom: $spacing-md; // 調整間距
      }
    }
  }
}

.transportation-divider {
  border: none;
  border-top: 1px solid $color-footer;
  margin: $spacing-lg 0;
  width: 100%;
}
