@use "../../../../styles/index" as *;

.chicago-container {
  .chicago-intro {
    .intro-title {
      color: $color-nav;
      text-align: left;
      margin-top: 4rem;
      margin-bottom: $spacing-xs;
    }
    .intro-text {
      font-size: $font-size-md;
      color: $color-black;
      text-align: left;
      margin-bottom: $spacing-xs;
    }
  }

  .section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: $spacing-md;
    h2 {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $color-black;
      text-align: left;
      margin-bottom: $spacing-xs;
    }
  }

  .key-facts-section,
  .history-development-section,
  .population-ethnicity-section,
  .climate-topography-section,
  .transportation-hub-section,
  .cultural-education-section {
    margin: 0 auto;
    position: relative;
    padding-bottom: $spacing-sm;

    .container {
      margin-bottom: $spacing-lg;
    }

    .section-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $spacing-lg;
      min-height: 10rem;
      position: relative;

      .history-text,
      .transport-text {
        text-align: left;
        p {
          font-size: $font-size-md;
          color: $color-black;
          text-align: left;
          margin-bottom: $spacing-xs;
        }
      }
      .history-text {
        ul {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          list-style-position: inside;
          margin-bottom: $spacing-sm;
          gap: $spacing-xs;
        }
      }
      .transport-text {
        ul {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          list-style: decimal;
          list-style-position: inside;
          margin-bottom: $spacing-sm;
          gap: $spacing-xs;
        }
        ul ul {
          font-size: 16px;
          list-style-type: disc;
          list-style-position: inside;
          margin-left: 1.5em; /* 讓圓點與上層文字左側對齊 */
          margin-top: $spacing-xs;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      border-bottom: 1px solid $color-uic;
      margin: 0 auto;
    }
  }

  .climate-topography-section,
  .transportation-hub-section,
  .cultural-education-section {
    .container {
      margin-bottom: 7rem;
    }
  }

  .skeleton-placeholder {
    width: 100%;
    height: 100%;
    background-color: $color-gray-lightest;
    animation: skeleton-loading 1.2s ease-in-out infinite;
  }

  @keyframes skeleton-loading {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }
}

.ethnicity-table-text {
  font-size: 18px;
  font-weight: 700;
  color: $color-uic;
}

.ethnicity-table-percentage,
.ethnicity-table-title {
  font-size: 18px;
  font-weight: 700;
  color: $color-black;
}

.why-chicago-section {
  .container {
    h2 {
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }
    p {
      font-size: 18px;
      text-align: left;
      margin-bottom: 7rem;
    }
  }
}
