@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.food-attractions-page {
  .attractions-section,
  .food-attractions-header,
  .food-section {
    margin: 0 auto;
  }
  .food-attractions-header {
    margin-top: 4rem;
  }
  .food-section {
    margin-top: $spacing-xxl;
    margin-bottom: 7rem;
  }

  .food-attractions-description,
  .food-attractions-text {
    font-size: $font-size-md;
    text-align: left;
  }
  .food-attractions-title {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $color-nav;
    text-align: left;
    margin-bottom: $spacing-xs;
  }
  .food-attractions-intro {
    margin-top: $spacing-xl;
    h3 {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      margin-bottom: $spacing-xs;
      color: $color-nav;
      text-align: left;
    }
    p {
      font-size: $font-size-md;
      text-align: left;
      margin-bottom: $spacing-md;
    }
  }

  .card {
    display: flex;
    align-items: center;
    margin: $spacing-md auto;
    overflow: hidden;

    &-content {
      padding: $spacing-sm;

      h4 {
        @include heading-medium;
        margin-bottom: $spacing-xxl;

        & + h4 {
          margin-top: -$spacing-xxl;
          margin-bottom: $spacing-md;
        }
      }

      p {
        @include label-style;
        margin: 0 auto;
        margin-left: 0;
        text-align: left;
      }
    }

    img {
      width: 100%;
      max-width: 40%;
      height: auto;
      object-fit: cover;
    }

    &-right {
      flex-direction: row;
    }

    &-left {
      flex-direction: row-reverse;
      p {
        margin: 0 auto;
        margin-right: 0;
      }
    }
  }
  .title {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xs;
    @media screen and (max-width: 500px) {
      text-align: left;
      margin-bottom: $spacing-xs;
    }
  }
  .food-attractions-pizza,
  .food-attractions-hotdog {
    @include label-style;
    text-align: left;
    margin-bottom: $spacing-sm;
  }

  .food-section {
    .title.foodheader {
      color: $color-nav;
      text-align: left;
    }

    .title.intro {
      color: $color-nav;
      text-align: left;
    }
    p {
      text-align: left;
      font-size: 18px;
    }
  }
}

@media (max-width: 700px) {
  .food-attractions-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      order: -1;
      margin-bottom: 12px;
      width: 100%;
      height: auto;
    }
    h3 {
      margin-top: 0;
    }
  }

  .food-attractions-page .card {
    display: flex;
    flex-direction: column !important;
    align-items: center;

    img {
      order: -1;
      width: 100%;
      height: auto;
      margin-bottom: 12px;
      max-width: 100%;
    }
    .card-content {
      width: 100%;
      padding: 0;
      h4 {
        margin-top: $spacing-md;
      }
    }
  }

  .card.card-left {
    margin-right: 7rem;
    p {
      margin-left: 3rem;
    }
  }
}
@media screen and (max-width: 500px) {
  .food-attractions-page .food-attractions-header p {
    margin: 0 auto;
  }
  .food-attractions-page .food-attractions-header {
    padding: 0 $spacing-xs;
  }
  .food-attractions-page .attractions-section {
    padding: 0 $spacing-xs;
  }
  .card.card-left {
    margin-right: 0;
  }
  .food-attractions-page .food-section {
    padding: 0 $spacing-xs;
  }
  .food-attractions-page .card.card.card-left .card-content p {
    margin: 0 auto;
  }
}
