@import "../../styles/variables";
@import "../../styles/mixins";

.floatingButtons {
  position: fixed;
  right: $spacing-xl;
  bottom: $spacing-xxl;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  z-index: 9999;
}

.floatingBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
  transition: box-shadow 0.2s, background 0.2s;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}
@media screen and (max-width: 500px) {
  .floatingButtons {
    right: $spacing-md;
    bottom: $spacing-lg;
  }

  .floatingBtn {
    img {
      width: 50px;
      height: 50px;
    }
  }
}
