@import "../../../styles/variables";
@import "../../../styles/mixins";

.about-msu-page {
  h1 {
    font-size: 2.5rem;
    margin-bottom: $spacing-sm;
  }

  h2 {
    font-size: 1.8rem;
  }

  .intro {
    text-align: left;
    p {
      font-size: 18px;
      color: $color-text-primary;
      margin: $spacing-md 0;
    }
  }

  .stats {
    .stats-card-school {
      background: $color-white;
      @include card-border;
      border: 2px solid $color-msu;
      position: relative;
      margin-bottom: $spacing-md;
      padding: 1.5rem;

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: $color-msu;
        text-align: left; // 標題靠左對齊
        margin-bottom: $spacing-sm;
      }

      ul.left-aligned {
        text-align: left;
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 三欄排列
        gap: 1rem;
        @media screen and (max-width: 700px) {
          grid-template-columns: repeat(2, 1fr); // 小螢幕改為二欄排列
        }

        li {
          display: flex;
          flex-direction: column; // 一個 label 一個 value 垂直排列
          align-items: flex-start; // 內容靠左對齊
          margin-bottom: 10px; // 區塊下方間距

          .label {
            font-size: 18px;
            font-weight: 500;
            color: $color-black;
            margin-bottom: 0.5rem;
          }

          .value {
            @include value-style;
            color: $color-msu;
          }
          .sub-list {
            @include value-style;
            font-size: $font-size-md;
            font-weight: 400;
            color: $color-msu;
            list-style: disc;
            list-style-position: inside;
            padding-left: 0; // 移除預設的左邊距
            margin-top: 0;

            li {
              margin: 0;
              display: list-item; // 子項目顯示為列表
              padding-left: 1.5rem; // 為子項目創建左內邊距
              text-indent: -1.5rem; // 將第一行（含項目
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    .about-msu-page {
      .stats {
        .stats-card-school {
          ul.left-aligned {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }

  .details {
    .michigan-contribution {
      padding: 0 2rem;
      .contribution-content {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: $spacing-md;
        margin-top: $spacing-sm;
      }
    }
    .reasearch {
      background: $color-white;

      padding: 0 2rem;

      h3 {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        color: $color-msu;
        margin-bottom: $spacing-xs;
        border-bottom: 1px solid $color-msu;
      }

      .research-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-bottom: $spacing-md;
        margin-top: $spacing-sm;
        h4 {
          font-size: 18px;
          color: $color-black;
          text-align: left;
          font-weight: 400;
        }

        .research-funding,
        .research-facilities,
        .research-areas,
        .research-centers {
          margin-bottom: $spacing-xs;
        }

        .funding-amount {
          font-size: 18px;
          font-weight: 400;
          color: $color-msu;
        }

        .funding-year {
          font-size: $font-size-sm;
          font-weight: normal;
        }

        .facility p {
          color: $color-msu;
          font-weight: 400;
          font-size: 18px;
          max-width: 100%;
          text-align: left;
        }

        .areas-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; // 允許自動換行
          margin-left: $spacing-md; // 左側間距

          li {
            color: $color-msu;
            font-weight: 400;
            font-size: 18px;
            position: relative;
            margin-right: $spacing-xl; // 右側間距
            white-space: nowrap; // 不換行
          }
        }
        .research-centers p {
          color: $color-msu;
          font-weight: 400;
          font-size: $font-size-lg;
          margin: 0;
          max-width: 100%;
        }
      }
    }
  }
  .global-impact {
    padding: 0 2rem;
    .global-impact-content {
      margin-top: $spacing-sm;
      margin-bottom: $spacing-md;
    }
  }
  .michigan-contribution,
  .global-impact {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      margin-bottom: $spacing-xs;
      text-align: left;
      border-bottom: 1px solid $color-msu;
    }
  }
  .global-impact-content {
    p {
      font-size: 18px;
      font-weight: 400;
      text-align: left;
    }
  }
  .contribution-content {
    font-size: $font-size-lg;
    font-weight: 400;
    text-align: left;
  }
  .global-impact {
    .impact-list {
      text-align: left;
      color: $color-msu;
      font-size: 18px;
      font-weight: 400;
      margin-top: $spacing-xs;

      li {
        margin-bottom: $spacing-xs; // 每個 li 元素下方間距
      }
    }
  }
  .diversity-list {
    text-align: left;
    color: $color-black;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;

    li {
      margin-bottom: $spacing-xs; // 每個 li 元素下方間距
    }
  }
}
