@import "../../../styles/variables";
@import "../../../styles/mixins";

.msf-hero {
  background-color: #19453c;
  // 其他自訂樣式
}

.career-resources-page {
  .section-title {
    font-size: 24px;
    font-weight: 700;
    color: $color-msu;
    text-align: left;
    margin: 4rem 0 0;
  }
  .career-resources {
    margin-bottom: $spacing-xl;
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      margin-bottom: $spacing-xs;
    }
    p {
      font-size: 18px;
      text-align: left;
    }
  }
  .career-services {
    margin-bottom: $spacing-xxl;
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      border-bottom: 1px solid $color-msu;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      margin-bottom: $spacing-xs;
      text-align: left;
      margin-top: $spacing-sm;
    }
    p {
      font-size: 18px;
      text-align: left;
    }
    .career-services-list {
      font-size: 18px;
      text-align: left;
      color: $color-msu;
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
      margin: $spacing-sm 0 $spacing-xl;
    }
  }
  .employer-engagement {
    margin: $spacing-md 0;
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      border-bottom: 1px solid $color-msu;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      margin-bottom: $spacing-xs;
      text-align: left;
      margin-top: $spacing-md;
    }
    p {
      font-size: 18px;
      text-align: left;
      margin-top: $spacing-xs;
      margin-bottom: $spacing-xl;
    }
    .interview-list {
      margin-top: -$spacing-xl;
      margin-bottom: $spacing-xxl;
      p {
        margin-top: $spacing-xs;
      }
      .interview-list-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-position: inside;
        gap: $spacing-md;
        margin-top: -$spacing-xl;
      }
    }
  }
  .career-virtual {
    margin: $spacing-md 0 $spacing-lg;
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      border-bottom: 1px solid $color-msu;
    }
    p {
      font-size: 18px;
      text-align: left;
      margin-top: $spacing-sm;
    }
    .virtual-resource-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: $spacing-md 0 7rem;
      gap: $spacing-xl;
      h5 {
        font-size: 24px;
        font-weight: 700;
        color: $color-msu;
        text-align: left;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    & .career-virtual .virtual-resource-row {
      margin-right: 0;
    }
    & .career-virtual .virtual-resource-row h5 {
      padding-left: 0;
      margin-left: 0;
    }
    & .career-virtual .virtual-resource-row p {
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }
    & .employer-engagement .interview-list .interview-list-item {
      justify-content: space-between;
    }
    & .employer-engagement h4 {
      padding-left: 0;
    }
  }

  @media screen and (max-width: 700px) {
    .employer-engagement {
      .interview-list {
        .interview-list-item {
          flex-direction: column;
          text-align: left;
          gap: $spacing-xs;
        }
      }
    }
    .career-virtual {
      .virtual-resource-row {
        grid-template-columns: 1fr;
        gap: $spacing-xs;
      }
    }
  }
}
