@import "../../../styles/variables";
@import "../../../styles/mixins";

.career-resources-page {
  .career-resources {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      margin: $spacing-md 0;
      margin-bottom: 0;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      margin-bottom: $spacing-xs;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
    }
  }
  .career-services {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      margin-top: $spacing-md;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      margin-bottom: $spacing-xs;
      text-align: left;
      margin-top: $spacing-md;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
    }
    .career-services-list {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      color: $color-msu;
      li {
        margin-top: $spacing-md;
      }
    }
  }
  .employer-engagement {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      margin-top: $spacing-md;
      margin-bottom: $spacing-xs;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      margin-bottom: $spacing-xs;
      text-align: left;
      margin-top: $spacing-md;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
    }
    .interview-list {
      p {
        margin-top: $spacing-xs;
      }
      .interview-list-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: $spacing-md;
        margin-top: $spacing-xs;
        font-weight: 700;
      }
    }
  }
  .career-virtual {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      margin-top: $spacing-md;
      margin-bottom: $spacing-xs;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
    }
    .virtual-resource-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: $spacing-md 0;
      gap: $spacing-md;
      h5 {
        font-size: 24px;
        font-weight: 700;
        color: $color-msu;
        text-align: left;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    & .career-virtual .virtual-resource-row {
      margin-right: 0;
    }
    & .career-virtual .virtual-resource-row h5 {
      padding-left: 0;
      margin-left: 0;
    }
    & .career-virtual .virtual-resource-row p {
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }
    & .employer-engagement .interview-list .interview-list-item {
      justify-content: space-between;
    }
    & .employer-engagement h4 {
      padding-left: 0;
    }
  }

  @media screen and (max-width: 700px) {
    .employer-engagement {
      .interview-list {
        .interview-list-item {
          flex-direction: column;
          text-align: left;
          gap: $spacing-xs;
        }
      }
    }
    .career-virtual {
      .virtual-resource-row {
        grid-template-columns: 1fr;
        gap: $spacing-xs;
      }
    }
  }
}
