@import "../../../styles/variables";
@import "../../../styles/mixins";

.rankings-awards-page {
  .ranking,
  .management {
    margin: $spacing-sm 0 $spacing-xxl;
  }
  .ranking,
  .management {
    h3 {
      font-size: 24px;
      font-weight: 700;
      text-align: left;
      color: $color-msu;
    }
    .ranking-title {
      width: 100%;
      margin-bottom: 0;
    }
    .ranking-subtitle {
      border-bottom: 1px solid $color-msu;
    }
    .ranking-highlights {
      margin-top: $spacing-lg;
    }
    p {
      font-size: 18px;
      text-align: left;
    }
    ul {
      font-size: 18px;
      display: flex;
      flex-direction: row;
      color: $color-msu;
      align-items: center;
      justify-content: flex-start;
      gap: $spacing-xl;
      margin: $spacing-xs 0;
      list-style-position: inside; // 新增此行
      font-weight: 500;
    }

    .highlight {
      text-align: left;
      margin-bottom: 0;
    }
  }
  .management {
    display: flex;
    flex-direction: column;
    .supply-chain {
      margin-top: $spacing-lg;
    }
  }
  .class {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;

    .class-item {
      text-align: left;

      .class-title-zh,
      .class-title-en {
        color: $color-black;
        font-size: 18px;
      }

      ul {
        list-style: disc;
        padding: 0;
        margin: 0;
        display: inline-block;
        list-style-position: inside; // 新增此行

        li.highlight {
          color: $color-msu;
          font-size: 18px;
        }
      }
    }
  }
  .engineering {
    display: flex;
    flex-direction: column;
    margin: 0 0 7rem;
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $color-msu;
      text-align: left;
      margin: $spacing-sm 0;
      border-bottom: 1px solid $color-msu;
    }
    ul {
      font-size: 18px;
      color: $color-black;
      list-style-position: inside; // 新增此行
      padding-left: 0; // 建議新增以移除預設邊距
      margin-top: $spacing-sm;
      li {
        margin-top: $spacing-xs;
        text-align: left;
      }
    }
  }
}

@media (max-width: 700px) {
  .rankings-awards-page {
    .ranking,
    .management {
      ul {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
      }
    }

    .class {
      flex-direction: column;

      .class-item {
        padding: 0 $spacing-xs;
        margin-bottom: $spacing-sm;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .rankings-awards-page .ranking ul,
  .rankings-awards-page .management ul {
    justify-content: space-between;
    text-align: left;
  }
}
