@import "../../../styles/variables";
@import "../../../styles/mixins";

h2 {
  @include body-large;
  color: #1c184a;
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-xxl;
}

// 統一 p 樣式
p {
  font-weight: 400;
  max-width: 75%;
  font-size: $font-size-md;
  line-height: 20px;
  text-align: left;
  margin: 0 auto;
  color: $color-brown-dark;
}
ul {
  margin-top: $spacing-lg;
}

.msm-ul {
  list-style-type: disc;
  list-style-position: outside;
  text-align: left;
  padding-left: 1.5em;
  max-width: 75%;
  margin: 0 auto;
  margin-top: $spacing-lg;
}

.msm-ul li {
  color: $color-brown-dark; // 依需求可調整
  font-weight: 900;
}

.outcomes-list {
  font-size: $font-size-lg;
  color: $color-brown-dark;
  margin-left: 1.5em;
  line-height: 1.7;
  // 你可以根據需求調整更多屬性
}

.ms-core-courses-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.ms-core-courses-col {
  flex: 1;
  margin: 0 1rem;
  color: #8c6b2c;
  font-size: 1.1rem;
  font-weight: 500;
}
.ms-core-courses-item {
  margin-bottom: 0.5em;
}

.ms-accounting .ms-core-courses-row {
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
  div {
    color: $color-brown-dark;
  }
  .ms-core-courses-item {
    font-weight: 700;
    text-align: left;
    margin-bottom: $spacing-lg;
  }
}

.ms-accounting-features {
  margin-top: 2rem;
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .ms-accounting-feature-item {
    margin-bottom: 0.5em;
    color: #8c6b2c;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
.ms-accounting .core-courses-intro {
  ul {
    padding-left: 8rem; // 動態向右移動，可依需求調整
    li {
      text-align: left;
      @include value-style;
    }
  }
}
@media screen and (max-width: 700px) {
  h2 {
    margin: $spacing-xxl $spacing-xs;
  }
}
