@import "../../../styles/variables";
@import "../../../styles/mixins";

.ms-application-page {
  .ms-application-intro {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-lg;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $color-nav;
    text-align: left;
    margin-bottom: $spacing-xs;
  }
  p {
    font-size: $font-size-md;
    line-height: 39px;
    color: $color-black;
    text-align: left;
  }
}

.ms-application-requirements {
  h4 {
    color: $color-uic;
    font-size: 24px;
    font-weight: 700;
    margin-top: $spacing-sm;
    text-align: left;
    @media screen and (max-width: 700px) {
      text-align: center;
    }
  }

  p {
    margin-bottom: $spacing-sm;
    font-size: 18px;
    color: $color-black;
    text-align: left;
    @media screen and (max-width: 700px) {
      text-align: center;
    }
  }

  ul {
    text-align: left;
    li {
      font-size: 18px;
      color: $color-black;
      text-align: left;
    }
  }

  // 申請所需文件 ul
  .horizontal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    padding-left: 0;
    li {
      list-style: disc;
      font-size: 18px;
      color: $color-black;
      margin-top: $spacing-sm; // 與上方間距
    }
  }

  .english-requirements {
    text-align: left;
    div {
      margin-bottom: $spacing-sm;
      strong {
        font-size: 18px;
        font-weight: 500;
        color: $color-black;
      }
      ul {
        margin-top: 4px;
        margin-bottom: 0;
        text-align: left;
      }
    }
  }

  .reminder {
    @include paragraph-style;
    padding: 12px 16px;
    background: $color-gray-ultralight;
    color: $color-nav;
    border-left: 4px solid $color-uic;
    border-right: 4px solid $color-uic;
    border-radius: 6px;
    text-align: center;
    margin: $spacing-md auto;
  }
}
