@import "../../../styles/variables";
@import "../../../styles/mixins";

.arrow-right-bounce {
  display: inline-block;
  animation: rightBounce 1s infinite;
  margin-right: 8px;
  color: $color-uic;
}

@keyframes rightBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(3px);
  }
}

.ms-application-page {
  .ms-application-intro {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: $spacing-xl;
  }
  h3 {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $color-nav;
    text-align: left;
  }
  p {
    font-size: $font-size-md;
    line-height: 39px;
    color: $color-black;
    text-align: left;
  }
}

.ms-application-requirements {
  h4 {
    color: $color-uic;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin-top: $spacing-sm;
    text-align: left;
    @media screen and (max-width: 700px) {
      text-align: left;
    }
  }

  p {
    margin-bottom: $spacing-xl;
    font-size: $font-size-md;
    color: $color-black;
    text-align: left;
    @media screen and (max-width: 700px) {
      text-align: left;
    }
  }

  ul {
    text-align: left;
    list-style-position: inside;
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xl;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    li {
      font-size: $font-size-md;
      color: $color-black;
      text-align: left;
    }
  }

  // 申請所需文件 ul
  .horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px;
    padding: 0 $spacing-sm;
    padding-left: $spacing-md;
    margin-bottom: 0;

    li {
      list-style: disc;
      font-size: $font-size-md;
      color: $color-black;
    }
  }

  .english-requirements {
    text-align: left;
    div {
      margin-bottom: $spacing-sm;
      color: $color-black;
      font-size: $font-size-md;
      strong {
        font-size: $font-size-md;
        font-weight: $font-weight-medium;
        color: $color-black;
      }
    }
  }

  .reminder {
    @include paragraph-style;
    padding: 12px 16px;
    background: $color-gray-ultralight;
    color: $color-nav;
    border-left: 4px solid $color-uic;
    border-right: 4px solid $color-uic;
    border-radius: 6px;
    text-align: center;
    margin: 0 auto $spacing-xl;
  }
}
