@import "../../styles/variables";
@import "../../styles/mixins";

.image-text-section {
  position: relative;
  z-index: 0;
  background-color: $color-gray; // è¨­ç½®?Œæ™¯?²ï??¯ä??€æ±‚èª¿??
  height: 570px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column-reverse; // ?‚ç›´?’å?
    align-items: center; // ?‚ç›´å±…ä¸­å°é?
    justify-content: center;
    padding: 0rem 17rem;

    .text-content {
      background: rgba(0, 0, 0, 0.7);
      width: 100%;

      h2,
      h3 {
        @include value-style; // ä½¿ç”¨ mixin å®šç¾©?„æ?é¡Œæ¨£å¼?
        font-weight: 900;
        color: $color-white; // è¨­å?æ¨™é?é¡è‰²
        margin-bottom: $spacing-xs; // è¨­å?æ¨™é?ä¸‹æ–¹?“è?
      }

      p {
        @include value-style; // ä½¿ç”¨ mixin å®šç¾©?„æ®µ?½æ¨£å¼?
        font-size: $font-size-lg;
        font-weight: 900;
        color: $color-white; // è¨­å??¯æ?é¡Œé???
        text-align: center;
      }
    }
  }
}

.section-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.section-bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 227, 227, 0.4); // ?ƒè€?hero-bg-mask
  z-index: 0;
  pointer-events: none;
}

.image-text-section > *:not(.section-bg-img):not(.section-bg-mask) {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .image-text-section {
    height: 400px; // ?–æ??ºå?é«˜åº¦
    .content {
      padding: 0rem 10rem;
    }
  }
}
@media (max-width: 700px) {
  .image-text-section {
    height: auto; // ?–æ??ºå?é«˜åº¦
    .content {
      padding: 0;
      .image-content {
        margin-right: 0;
        margin-bottom: 1.5rem; // ?–ç??‡æ?å­—é?è·?
        width: 90vw;
        max-width: 350px;
        align-self: center;
      }
      .text-content {
        margin-left: 0;
        width: 90vw;
        max-width: 350px;
        text-align: center;
        h2,
        h3 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
