@import "../../styles/variables";
@import "../../styles/mixins";

.action-btn {
  color: $color-text-secondary;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: $transition-normal;
  background: $color-accent-gold;
  max-width: 120px;
  max-height: 36px;

  &:hover {
    background: $color-gray;
    color: $color-black;
  }
}
