@import "../../../../styles/variables"; // 導入變數
@import "../../../../styles/mixins"; // 導入 mixins

.management-container {
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    padding: 0 5rem;
  }
  @media screen and (max-width: 500px) {
    padding: 0 2rem;
  }
  .section {
    .section-title {
      font-size: 24px;
      font-weight: 700;
      margin-top: $spacing-md;
      color: $color-nav;
      text-align: left;
      margin-bottom: $spacing-sm;
      position: relative;
    }
    .section-subtitle {
      font-size: 24px;
      font-weight: 700;
      text-align: left;
      color: $color-uic;
      margin-bottom: $spacing-sm;
    }
    .section-content {
      p {
        font-size: 18px;
        font-weight: 500;
        color: $color-black;
        margin-bottom: $spacing-sm;
        text-align: left;
      }
    }
  }

  .intro {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #444;
  }

  .course-list {
    .course-item {
      margin-bottom: $spacing-xl;
      li {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: $color-black;
      }
    }
  }
  .conclusion {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: $color-black;
    margin-bottom: $spacing-sm;
  }
}

// 響應式設定
@media screen and (max-width: 768px) {
  .management-container {
    .hero-section {
      flex-direction: column;

      .hero-text,
      .hero-image {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    .course-list .course-item {
      flex-direction: column;

      .course-title {
        margin-bottom: 5px;
      }
    }
  }
}
