@import "../../../../styles/variables"; // 導入變數
@import "../../../../styles/mixins"; // 導入 mixins

.management-container {
  margin: 0 auto;
  .section {
    margin-bottom: $spacing-md;
    .section-title {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      margin-top: $spacing-md;
      color: $color-nav;
      text-align: left;
      margin-bottom: $spacing-sm;
      position: relative;
      @media screen and (max-width: 500px) {
        margin-bottom: $spacing-xs;
      }
    }
    .section-subtitle {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      text-align: left;
      color: $color-uic;
      margin-bottom: $spacing-sm;
      border-bottom: 1px solid $color-uic;
    }
    .section-content {
      p {
        font-size: $font-size-lg;
        color: $color-black;
        margin-bottom: $spacing-xs;
        text-align: left;
        @media screen and (max-width: 500px) {
          margin-bottom: $spacing-sm;
        }
      }
    }
  }

  .intro {
    text-align: center;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    margin-bottom: 30px;
    color: $color-gray-dark;
  }

  .course-list {
    .course-item {
      margin-bottom: $spacing-sm;
      list-style-position: inside;
      li {
        font-size: $font-size-lg;
        text-align: left;
        color: $color-black;
      }
    }
  }
  .conclusion {
    text-align: left;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $color-black;
    margin-bottom: $spacing-lg;
  }
}

// 響應式設定
@media screen and (max-width: 768px) {
  .management-container {
    .hero-section {
      flex-direction: column;

      .hero-text,
      .hero-image {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    .course-list .course-item {
      flex-direction: column;

      .course-title {
        margin-bottom: 5px;
      }
    }
  }
}
