@import "../../styles/variables";
@import "../../styles/mixins";

.program-details {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-sm;
}

.msf-outcomes p,
.reasons-to-choose p {
  @include value-style;
  margin-bottom: $spacing-md;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: $color-black;
}

.reasons-to-choose p {
  font-size: 18px;
  font-weight: 700;
}

.core-courses-section h3,
.course-arrangement h3,
.company-courses h3,
.why-uic-msf h3,
.msf-outcomes h3,
.reasons-to-choose h3 {
  color: $color-nav;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: $spacing-xs;
}
.reasons-to-choose h3 {
  text-align: center;
}

.why-uic-msf,
.msf-outcomes {
  ul {
    list-style: none;
    li {
      font-size: 18px;
      margin-bottom: $spacing-md;
      color: $color-uic;
      text-align: left;
      // label-style 樣式 div,
      &.label-style {
        font-size: 16px;
        font-weight: 500;
        color: $color-black;
        margin-top: $spacing-lg;
      }
      // 設定 extra-list li 標題與 desc 樣式
      ul {
        li {
          font-size: 18px;
          font-size: $font-size-md;
          color: $color-black;
          margin-top: $spacing-xs;
          margin-bottom: 0;
          font-weight: 500;
        }
      }
    }
  }
}

.company-courses {
  // h3 樣式已設定
  .company-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: $spacing-xxl;
    margin: 0 auto;
    margin-bottom: $spacing-lg;
  }
}

.course-arrangement {
  // h3 樣式已設定
  ul {
    list-style: disc;
    li {
      font-size: 18px;
      font-weight: 700;
      color: $color-black;
      text-align: left;
      margin-bottom: $spacing-sm;
    }
  }
}

.core-courses-title {
  text-align: center;
  @include value-style;
  color: $color-nav;
  font-size: $font-size-xxl;
  margin-bottom: $spacing-xl;
}
.core-courses-pragaph {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: $color-black;
  margin-bottom: $spacing-md;
}

.core-courses-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-xl;
}

.core-courses-col {
  flex: 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

// 設定 core-course-zh 和 core-course-en 的共用樣式
.core-course-zh,
.core-course-en {
  font-weight: bold;
  color: $color-uic;
  text-align: left;
  font-size: $font-size-lg;
}

.core-course-desc {
  font-size: $font-size-md;
  color: $color-black;
  margin-top: 0.2em;
  text-align: left;
}

// label-style 樣式 selector
.label-style {
  @include label-style;
  font-size: $font-size-md;
  color: $color-black;
  margin-top: $spacing-lg;
}

.reasons-to-choose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ms-management .msf-outcomes ul li,
.ms-analytics .msf-outcomes ul li,
.ms-information .msf-outcomes ul li {
  list-style: disc;
  font-size: $font-size-md;
  color: $color-black;
  font-weight: 700;
}
.core-courses-intro {
  text-align: left;
  margin-bottom: 1rem;
  font-size: $font-size-lg;
  font-weight: 500;
  @media screen and (max-width: 500px) {
    ul {
      padding: 0 3rem;
    }
  }
}
.core-courses-foot {
  font-size: $font-size-lg;
  text-align: left;
  margin-bottom: $spacing-sm;
}

@media screen and (max-width: 1024px) {
  .company-courses .company-logos {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 850px) {
  .company-courses {
    margin-top: $spacing-xxl;
    // h3 樣式已設定
    .company-logos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-xxl;
      margin-left: 3rem;
    }
  }
  .core-courses-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    padding: 0 2rem;
  }
  .core-courses-intro {
    ul {
      padding: 0 5rem;
    }
  }
  .course-arrangement {
    ul {
      padding: 0 5rem;
    }
  }
  .core-courses-foot {
    padding: 0 2rem;
  }
  .core-courses-pragaph {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 500px) {
  .reasons-to-choose,
  .core-courses-section {
    margin-left: 0;
  }
  .why-uic-msf,
  .msf-outcomes {
    padding: 0;
  }
  .company-courses {
    .company-logos {
      padding: 0 1rem;
      margin-left: 0;
    }
  }
  .core-courses-list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 0 2rem;
  }
  .course-arrangement {
    ul {
      padding: 0 2rem;
    }
  }
  .core-courses-foot {
    padding: 0 1.5rem;
  }
}
