@import "../../styles/_variables.scss";

.accordion {
  display: flex;
  flex-direction: column;
}

.faq-item {
  margin-bottom: $spacing-sm;
  border-bottom: 1px solid $color-gray-light;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-sm 0;
  cursor: pointer;
  font-size: $font-size-md;
  color: $color-text-primary;
}

.question.expanded {
  font-weight: $font-weight-semibold;
}

.toggle-icon {
  font-size: $font-size-lg;
  line-height: 1;
}

.answer {
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.2s ease;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer.expanded {
  transform: scaleY(1);
  padding-bottom: $spacing-sm;
}
