@import "../../../styles/variables";
@import "../../../styles/mixins";

.msf-application-list {
  display: flex;
  flex-direction: column;
  ul {
    list-style: disc;
    list-style-position: inside;
    padding-left: 0; // Remove default padding
    li {
      text-align: left;
      font-size: 18px;
      font-weight: 500;
      color: $color-msu;
      margin-top: $spacing-md;
    }
  }
  .english-requirements {
    li {
      font-size: 18px;
      font-weight: 500;
      color: $color-black;
      margin-top: $spacing-xs;
    }
  }
  p {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: $color-black;
    margin: $spacing-md 0;
  }
  span {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: $color-black;
    position: static;
    margin-bottom: $spacing-md;
  }
}

// Specific overrides for ApplicationForm when inside MsfApplication
.msf-application {
  // Target the form element rendered by ApplicationForm,
  // assuming ApplicationForm is a direct child of .msf-application
  > form {
    input,
    textarea {
      border-color: $color-msu !important; // Change border color
    }

    button {
      background-color: $color-msu !important; // Change background color
      // The original button has no border, so no need to change border-color here.
      // The hover state for the button uses a different background ($color-nav),
      // so this change will only affect the default state.
    }
    h2 {
      color: $color-msu !important; // Change heading color
    }
  }
}
