@import "../../../styles/variables";
@import "../../../styles/mixins";

.msf-application-list {
  display: flex;
  flex-direction: column;
  margin: $spacing-md auto;
  padding: 0 9rem;
  ul {
    list-style: disc;
    li {
      text-align: left;
      @include body-large;
      color: $color-msu;
      margin-top: $spacing-xl;
    }
  }
  .english-requirements {
    li {
      @include label-style;
      color: $color-black;
      font-weight: 900;
      margin-top: $spacing-md;
      margin-left: $spacing-lg;
    }
  }
  p {
    font-size: $font-size-xs;
    font-weight: 700;
    line-height: 17px;
    color: $color-black;
    margin-top: $spacing-lg;
    margin-left: 0;
    margin-bottom: $spacing-lg;
  }
  span {
    font-size: $font-size-xs;
    font-weight: 700;
    line-height: 17px;
    color: $color-black;
    position: static;
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 1024px) {
    margin: $spacing-lg auto;
    padding: 0 3rem;

    ul {
      li {
        font-size: $font-size-sm;
        margin-top: $spacing-md;
      }
    }

    .english-requirements {
      li {
        font-size: $font-size-xs;
        margin-left: $spacing-md;
        margin-top: $spacing-xs;
      }
    }

    p {
      font-size: $font-size-xs;
    }

    span {
      font-size: $font-size-xs;
      margin-left: 0;
      margin-bottom: $spacing-xxl;
      text-align: left;
    }
  }

  @media screen and (max-width: 700px) {
    margin: $spacing-lg $spacing-md;
    padding: 0;

    ul {
      padding-left: 1.5rem;
      li {
        font-size: $font-size-sm;
        margin-top: $spacing-md;
      }
    }

    .english-requirements {
      li {
        font-size: $font-size-xs;
        margin-left: $spacing-md;
        margin-top: $spacing-xs;
      }
    }

    p {
      margin: $spacing-md 0 $spacing-md 0;
    }
  }
}

// Specific overrides for ApplicationForm when inside MsfApplication
.msf-application {
  // Target the form element rendered by ApplicationForm,
  // assuming ApplicationForm is a direct child of .msf-application
  > form {
    input,
    textarea {
      border-color: $color-msu !important; // Change border color
    }

    button {
      background-color: $color-msu !important; // Change background color
      // The original button has no border, so no need to change border-color here.
      // The hover state for the button uses a different background ($color-nav),
      // so this change will only affect the default state.
    }
    h2 {
      color: $color-msu !important; // Change heading color
    }
  }
}

@media screen and (max-width: 500px) {
  .msf-application-list ul {
    padding-left: 1rem;
  }
  .msf-application-list .english-requirements li {
    margin-left: 0;
  }
}
